body {
  font-family: "Montserrat";
}

h2 {
  color: black;
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}



p {
  color: grey;
}

/* title */

/* navigation bar */

.navbar {
  padding:0 0 1.5rem;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav_link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  font-weight: lighter;
}


.heading {
  color: white;
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 30px;
  padding-top: 50px;
}

.dog-text {
  color: #fff;
}



#title {
  background-color: #ff4c68;
  color: #fff;
  position: relative;
  z-index: -1;
}

.container-fluid {
  padding: 3% 15% 7%;
}





.i-img {
  margin-top: 80px;
  right: 30%;
  position: absolute;
  transform: rotate(25deg);
  width: 60%;
  z-index: -1;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .i-img {
    position: static;
    transform: rotate(0);
  }

}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.listings {
  text-align: center;

}

.icon {
  color: #ff7373;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


#testimonials {
  background-color: #ff7373;
  padding: 3% 15%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}


.dog-img {
  border-radius: 100%;
  width: 10%;
}


.testimonial-text {
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  font-weight: 700;

}


.testimonial-image {
  width: 10%;
}

em {
  color: #fff;
}

#press {
  background-color: #ff7373;
  padding-bottom: 40px;
  /* padding: 3% 15%; */
  text-align: center;
}

.press-img {
  width: 22%;
  padding: 20px;
}

.carousel-item {
    padding: 3% 15%;
}


#pricing {
  padding: 100px;
  text-align: center;
}

.pricing_coloumn {
  padding: 3% 2%;
}


#cta {
  padding-top: 20px;
  background-color: #ff4c68;
  text-align: center;
}

.cta-text {
  color: #fff;
  font-size: 4rem;
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 700;
  padding: 3% 15%;
  padding-bottom: 0;
}

#footer {
  padding-top: 50px;
  text-align: center;
}

.media-icons {
  margin: 20px 10px;
}
